<main class="flex justify-center py-12 min-h-screen bg-gray-50">
  <div class="bg-white border rounded shadow-sm max-w-md w-full p-6 h-full">
    <%= image_tag "/images/logo-full.svg" %>
    <h1 class="font-bold text-2xl mt-3">Sign up</h1>
    <form class="mt-8 space-y-4">
      <div>
        <label class="font-semibold">Your name</label>
        <input type="text" class="block w-full rounded py-1.5 px-3 mt-1 text-sm leading-5 border-gray-300 focus:ring-gray-400 focus:border-gray-400" />
      </div>
      <div>
        <label class="font-semibold">Email address</label>
        <input type="email" class="block w-full rounded py-1.5 px-3 mt-1 text-sm leading-5 border-gray-300 focus:ring-gray-400 focus:border-gray-400" />
      </div>
      <div>
        <label class="font-semibold">Password</label>
        <input type="password" class="block w-full rounded py-1.5 px-3 mt-1 text-sm leading-5 border-gray-300 focus:ring-gray-400 focus:border-gray-400" />
        <p class="text-gray-600 text-xs mt-1">Your password must be at least 8 characters long. Avoid common words or patterns.</p>
      </div>
      <div>
        <button type="submit" class="w-full block rounded text-white bg-brand py-1.5 px-3 text-sm leading-5 border border-brand-600 font-semibold hover:bg-brand-600">
          Sign up now
        </button>
      </div>
    </form>
    <hr class="my-8">
    <p class="text-center text-gray-700">
      Already signed up? <a href="#">Go to login</a>
    </p>
  </div>
</main>
